@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }


html {
  font-size: 16px;
  font-family: Inter, sans-serif;
  font-display: swap;
}
/*menu*/ 
.menu {
  display: flex;
  width: 96%;
  margin: 32px auto 80px auto;
}
.logo {
  display: flex;
  flex-flow: row;
  width: auto;
  height: auto;
}
.list {
  display: flex;
  flex-grow: 3;
  width: auto;
  height: auto;
  justify-content: flex-end;
  margin: auto;
}
.work {
  margin-right: 1.5rem;
}
h6 {
  font-size: 1.5rem;
  line-height: 1.6rem;
  font-weight: 600;
  margin: auto;
  letter-spacing: -0.03rem;
}
a, .work, .about {
  color: black;
  text-decoration: none;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.6rem;
  letter-spacing: -0.03rem;
}
a:hover {
  color: #9B9B9B;
}

/*first line*/
.first-line {
  display: flex;
  width: 96%;
  position: relative;
  margin: 2.5vw auto;
}
@media screen and (max-width: 1440px) {
  .project-1 img, .project-2 img {
    position: relative;
    height: 456px;
    object-fit:cover;
    margin-bottom: 5px;
  }
  .project-1 h5, .project-1 .work-type, .project-2 h5, .project-2 .work-type {
    font-size: 1.1rem;
    line-height: 1.45rem;
  }
}
@media screen and (max-width: 1022px) {
   .first-line {
     display: block;
     position: relative;
     max-height: 80%;
   }
   .project-1, .project-2 {
     position: absolute;
     min-width: 100%;
     margin: 0px -15px 36px 0px;
   }
   .project-1 img, .project-2 img {
    min-width: 100%;
    height: 60vw;
    margin-bottom: 6px;
  }
  .menu {
    display: flex;
    width: 96%;
    margin: 24px auto 60px auto;
  }
  .work {
    margin-right: 1.1rem;
  }
  .logo, li {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 500px) {
  .menu {
    display: flex;
    width: 96%;
    margin: 20px auto 60px auto;
  }
  .work {
    margin-right: 0.9rem;
  }
  .logo {
    display: block;
    width: auto;
    height: auto;
  }
  .list {
    display: flex;
    justify-content: flex-end;
    padding-left: 0;
  }
  .project-1 img, .project-2 img {
    min-width: 100%;
    height: 85vw;
    margin-bottom: 4px;
  }
}
@media screen and (min-width: 2045px) {
  img {
    width: 100%;
    height: auto;
  }
}
/*main*/
.project-1 {
  position: relative;
  max-width: 50%;
  margin-right: 30px;
}
.project-2 {
  position: relative;
  max-width: 50%;
  margin-left: 0px;
}
img {
  max-width: 100%;
  height: auto;
  margin-bottom: 7px;
}
h5 {
  font-size: 1.2rem;
  line-height: 1.6rem;
  font-weight: 400;
  color: #505050;
  margin: auto;
  letter-spacing: -0.03rem;
}
.work-type {
  font-size: 1.2rem;
  font-weight: 400;
  color: #c1c1c1;
  letter-spacing: -0.03rem;
}
/*footer*/
hr {
  margin-top: 80px;
}
.footer {
  display: flex;
  overflow: hidden;
  width: 96%;
  margin: auto;
}
h4 {
  font-size: 1rem;
  line-height: 1.4rem;
  font-weight: 400;
  letter-spacing: -0.03rem;
  color: #C0C0C0;
  margin: 0px 0px 16px 0px;
}

/*project*/
/*title*/
.first {
  max-height: 75vh;
  width: 96%;
  margin: auto auto 40px auto;
}
.header h1 {
  max-width: 600px;
  text-align: center;
  margin: 30vh auto 28vh auto;
}
h1 {
  font-size: 3.875rem;
  font-weight: 600;
  line-height: 3.875rem;
  letter-spacing: -0.125rem;
  color: black;
  margin: auto;
}
.info {
  font-size: 1.125rem;
  line-height: 1.5625rem;
  color: #2e2e2e;
  letter-spacing: -0.03rem;
  font-weight: 400;
  width: 60%;
  padding-right: 40px;
}
.role {
  display: flex;
}
.formal {
  width: 40%;
  font-size: 1.125rem;
  line-height: 1.5625rem;
  font-weight: 500;
  color: #000000;
  letter-spacing: -0.03rem;
}
.name {
  color: #2e2e2e;
  font-weight: 400;
}
/*@media screen and (max-width: 1025px), (max-height: 680px) {
  h1 {
  font-size: 3.775rem;
  font-weight: 600;
  line-height: 3.775rem;
  letter-spacing: -0.1rem;
  color: black;
  }
  .header h1 {
    max-width: 500px;
  }
  .info {
    font-size: 1.35rem;
    line-height: 1.82rem;
    letter-spacing: -0.03rem;
    margin: 24px auto 32px auto;
    width: 660px;
  }
  .formal {
    max-width: 510px;
    font-size: 1.05rem;
    line-height: 1.55rem;
    letter-spacing: -0.02rem;
}
}*/
@media screen and (max-width: 1022px) {
  .first {
    display: block;
    min-height: 100%;
    max-height: 100%;
  }
  .header {
    text-align: left;
    display: flex;
    flex-direction: column;
  }
  .header h1 {
    text-align: center;
    margin: 18vh auto 20vh auto;
  } 
  h1 {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 2.5rem;
    letter-spacing: -0.1rem;
    text-align: center;
    color: black;
    width: 96%;
    margin-bottom: 32%;
    }
  .info {
    font-size: 1.125rem;
    line-height: 1.5625rem;
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
    padding-right: 0px;
    }
  .formal {
    font-size: 1.125rem;
    line-height: 1.5625rem;
    margin: auto auto 64px auto;
    text-align: left;
    max-width: 100%;
    min-width: 100%;
  }
  .role {
    font-size: 1.125rem;
    line-height: 1.5625rem;
    width: 100%;
    display: block;
    margin: auto;
  }
  /*.case {
    padding-bottom: 2vw;
  }*/
  .case-columns {
    display: flex;
    flex-direction: column;
    width: 96%;
    margin: auto;
  }
  .case-columns-1 {
    min-width: 100%;
    margin: auto auto 2vw auto;
  }
  .case-columns-2 {
    min-width: 100%;
    margin: auto;
  }
  .column-img {
    max-width: 100%;
    margin: auto;
  }
  .previous h2{
    margin: 10vw auto 24px auto;
  }
}
/*img*/
.background {
  background-color:black;
  border: 8px solid black;
  width: 100%;
  margin-left: -8px;
  overflow-x: hidden;
}
.case {
  width: 96%;
  display: block;
  margin: 2vw auto;
  font-size: 0;
}
video {
  width: 100%;
}
.row-img {
  margin: auto;
}
.case-columns {
  display: flex;
  width: 96%;
  margin: 2vw auto;
}
.case-columns-1 {
  position: relative;
  max-width: 50%;
  margin-right: 2vw;
}
.case-columns-2 {
  position: relative;
  max-width: 50%;
}
.column-img {
  max-width: 100%;
  display: block;
  margin: auto;
}
.caption {
  font-size: 1rem;
  line-height: 1.25rem;
  margin: 0.5vw auto 2vw auto;
  letter-spacing: -0.01rem;
  color: #999999;
}
.case-text img {
  margin-bottom: 25vw;
}
.previous {
  display: block;
  width: 96%;
  margin: 120px auto auto;
}
h2 {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: -0.05rem;
  margin: 10vw auto auto auto;
}
@media screen and (max-width: 700px) {
  .caption {
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: 400;
    margin: 1.5vw auto 5.2vw auto;
  }
  .case-columns {
    display: flex;
    width: 96%;
    margin: 4vw auto;
  }
  .case-columns-1 {
    margin: auto auto 4vw auto;
  }
  .case {
    margin: 4vw auto;
  }
}
/*link*/
.card-link:hover h5 {
  color: black;
  transition-duration: 300ms;
  animation-timing-function: ease-in-out;
  }
.card-link:hover .work-type {
    color: #aaaaaa;
    transition-duration: 300ms;
    animation-timing-function: ease-in-out;
}